.container {
	margin: auto;
	text-align: center;
	padding-top: 100px;
}

.btn {
	background-color: #4CAF50;
	color: white;
	padding: 12px 24px;
	border: none;
	cursor: pointer;
	border-radius: 4px;
}

.btn:hover {
	background-color: #3e8e41;
}
